{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ news.title }}</title>
</head>

<body>
    <section class="page__newspage news " id="first_news">
        <div class="newspage__container _container ">

            <div class="newspage__body ">
                <div class="newspage__column ">
                    <div class="newspage__item item-newspage ">
                        <h3 class="item-newspage__title ">
                            <a href="{% url 'news_single'}">{{ news.title }}</a>
                        </h3>
                        <div class=" item-newspage__image-block ">
                            <img src="{{ news.preview.url }} " alt="news-image " class="item-newspage__image ">
                        </div>
                        <div class="item-newspage__date ">
                            {{ news.publication_date }} ⠀⠀⠀|⠀⠀⠀ {{ news.hashtag }}
                        </div>
                        <div class="item-newspage__text ">
                            {{ news.context }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
{% endblock content %}

</html>