{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Авторизація</title>
</head>

<body>
    {% block content %}
    <section class="page__login login">
        <div class="login__container _container ">
            <div class="login__body ">
                <div class="login__block ">
                    <div class="login__block-text ">
                        Поставте
                    </div>
                    <div class="login__block-text ">
                        <br>питання
                    </div>
                    <div class="login__block-text ">
                        <br>саме
                    </div>
                    <div class="login__block-text ">
                        <br>зараз:
                    </div>

                    <div class="login__block-form ">
                        <form action="# " method="post ">
                            <ul>
                                <li>
                                    <input placeholder="Ім 'я:" type="text" id="name" name="user_name">
                                </li>
                                <li>
                                    <input placeholder="Номер телефону:" type="number" id="tel" name="phone_number">
                                </li>
                                <li>
                                    <input placeholder="E-Mail:" type="email" id="mail" name="user_mail">
                                </li>
                                <li>
                                    <textarea placeholder="Повідомлення:" id="msg" name="user_message" class="message-area"></textarea>
                                </li>
                                <li class="button">
                                    <button type="submit" class="form-button">Надіслати</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}
</body>

</html>