{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Авторизація</title>
</head>

<body>
    {% block registration %} {% endblock registration %} {% block content %}
    <section class="page__login login">
        <div class="login__container _container ">
            <div class="login__body ">
                <div class="login__block ">
                    <img src="{% static 'img/login-img2.svg' %}" alt="login image" class="login__block-image">
                    <div class="login__block-auth">
                        <div class="login__block-text ">
                            Авторизація
                        </div>

                        <div class="login__block-form ">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <ul>
                                    <li>
                                        <input placeholder="Ім'я користувача:" type="text" id="username" name="username">
                                    </li>
                                    <li>
                                        <input placeholder="Пароль:" type="password" id="password" name="password">
                                    </li>
                                    <li class="login__button-block">
                                        <button type="submit" class="login-button">Увійти</button>
                                        <a href="{% url 'registration' %}" class="login__button-reg">Немає акаунта?</a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        {% for message in messages %} {{message}} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}
</body>

</html>