{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Профіль користувача</title>
</head>

<body>
    {% block content %}
    <div class="wrapper">
        <main class="page">
            <section class="page__user-profile user-profile ">
                <div class="user-profile__container _container ">
                    <div class="user-profile__body ">
                        <div class="profile__pic-block">
                            <div class="profile__pic">
                                <img src="{% static 'img/profile-picture.svg' %}" alt="profile-picture" class="profile__pic-img">
                            </div>
                            <div class="profile__pic-name">
                                {{ customer.name }} {{ customer.surname }}
                            </div>
                            <a href="{% url 'settings' %}" class="settings-link">
                                <button class="profile__pic-button">Налаштування профіля</button>
                            </a>
                        </div>
                        <div class="profile__info-block">
                            <div class="profile__info-string">
                                <div class="profile__info-title">
                                    Ім'я:
                                </div>
                                <div class="profile__info-text">
                                    {{ customer.name }}
                                </div>
                            </div>
                            <div class="profile__info-string">
                                <div class="profile__info-title">
                                    Прізвище:
                                </div>
                                <div class="profile__info-text">
                                    {{ customer.surname }}
                                </div>
                            </div>
                            <div class="profile__info-string">
                                <div class="profile__info-title">
                                    Номер телефона:
                                </div>
                                <div class="profile__info-text">
                                    {{ customer.phone }}
                                </div>
                            </div>
                            <div class="profile__info-string">
                                <div class="profile__info-title">
                                    E-Mail:
                                </div>
                                <div class="profile__info-text">
                                    {{ customer.email }}
                                </div>
                            </div>
                            <div class="profile__info-string">
                                <div class="profile__info-title">
                                    Дата приєднання:
                                </div>
                                <div class="profile__info-text">
                                    {{ customer.date_created }}
                                </div>
                            </div>
                            <div class="profile__info-string">
                                <div class="profile__info-title">
                                    Заплановані екскурсії:
                                </div>
                                {% for excursion in excursions %}
                                <div class="profile__info-text">
                                    {{ excursion.excursion_type }}, {{ excursion.excursion_date }} {{ excursion.excursion_time }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    {% endblock content %}
</body>


</html>