{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Реєстрація</title>
</head>

<body>
    {% block content %}
    <section class="page__register register">
        <div class="register__container _container ">
            <div class="register__body ">
                <div class="register__block ">
                    <img src="{% static 'img/reg-img.svg' %}" alt="register image" class="register__block-image">
                    <div class="register__block-auth">
                        <div class="register__block-text ">
                            Реєстрація
                        </div>
                        <div class="register__block-form ">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <ul>
                                    <li>
                                        <input placeholder="Ім'я користувача:" type="text" id="id_username" name="username" required>
                                    </li>
                                    <li>
                                        <input placeholder="E-Mail:" type="email" id="id_email" name="email" required>
                                    </li>
                                    <li>
                                        <input placeholder="Пароль:" type="password" id="id_password1" name="password1" autocomplete="new-password" required>
                                    </li>
                                    <li>
                                        <input placeholder="Підтвердження пароля:" type="password" required id="id_password2" name="password2" autocomplete="new-password">
                                    </li>
                                    <li class="register__button-block">
                                        <button type="submit" class="register-button" name="Create User">Зареєструватися</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        {% for message in messages %} {{message}} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}
</body>

</html>