{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Профіль користувача</title>
</head>

<body>
    {% block content %}
    <div class="wrapper">
        <main class="page">
            <section class="page__user-profile user-profile ">
                <div class="user-profile__container _container ">
                    <div class="user-profile__body ">
                        <div class="profile__pic-block">
                            <div class="profile__pic">
                                <img src="{% static 'img/profile-picture.svg' %}" alt="profile-picture" class="profile__pic-img">
                            </div>
                            <div class="profile__pic-name">
                                {{ customer.name }} {{ customer.surname }}
                            </div>

                        </div>
                        <div class="profile__info-block">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <ul>
                                    <div class="profile__info-string">
                                        <div class="profile__info-title">
                                            Ім'я:
                                        </div>
                                        <div class="profile__info-text">
                                            <li><input type="text" id="name" name="name" required class="profile-input" placeholder="{{ customer.name }}"></li>
                                        </div>
                                    </div>
                                    <div class="profile__info-string">
                                        <div class="profile__info-title">
                                            Прізвище:
                                        </div>
                                        <div class="profile__info-text">
                                            <li><input type="text" id="surname" name="surname" required class="profile-input"></li>
                                        </div>
                                    </div>
                                    <div class="profile__info-string">
                                        <div class="profile__info-title">
                                            Номер телефона:
                                        </div>
                                        <div class="profile__info-text">
                                            <li><input type="tel" id="phone" name="phone" required class="profile-input"></li>
                                        </div>
                                    </div>
                                    <div class="profile__info-string">
                                        <div class="profile__info-title">
                                            E-Mail:
                                        </div>
                                        <div class="profile__info-text">
                                            <li><input type="email" id="email" name="email" required class="profile-input"></li>
                                        </div>
                                    </div>
                                    <div class="profile__info-string">
                                        <div class="profile__info-title">
                                            Дата приєднання:
                                        </div>
                                        <div class="profile__info-text">
                                            <li><input type="text" id="date_created" name="date_created" required class="profile-input"></li>
                                        </div>
                                    </div>
                                    <li>
                                        <button class="profile__pic-button" type="Submit">Зберегти налаштування</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    {% endblock content %}
</body>


</html>


<!-- <h1>Settings</h1>
<form action='' method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update information</button>
</form>


<form action="" method="POST">
                                    <input type="text" id="name" name="name" required>
                                    <input type="text" id="surname" name="surname" required>
                                    <input type="text" id="phone" name="phone" required>
                                    <input type="text" id="email" name="email" required>
                                    <input type="text" id="date_created" name="date_created" required>
                                    <button class="profile__pic-button" type="Submit">Зберегти налаштування</button>
                                </form>
-->