{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Реєстрація</title>
</head>

<body>
    {% block content %}
    <section class="page__create-news create-news">
        <div class="create-news__container _container ">
            <div class="create-news__body ">
                <div class="create-news__block ">
                    <img src="{% static 'img/create-news.svg' %}" alt="create-news image" class="create-news__block-image">
                    <div class="create-news__block-auth">
                        <div class="create-news__block-text ">
                            Додайте новину:
                        </div>
                        <div class="create-news__block-form ">
                            <form method="POST" action="{% url 'create_news' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" name="title" maxlength="100" required="" id="id_title" placeholder="Заголовок:">
                                <input type="text" name="hashtag" maxlength="20" id="id_hashtag" placeholder="Хештег:">
                                <textarea name="context" cols="40" rows="10" id="id_context" placeholder="Текст новини:"></textarea>
                                <input type="file" name="image" accept="image/*" id="id_image" placeholder="Фотографія:">
                                <button type="submit" class="edit-news-button">Додати</button>
                            </form>
                            <a href="{% url 'news_all' %}">
                                <button class="edit-news-backbutton">
                                    Скасувати
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}
</body>

</html>