/*empty-style*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a:hover {
    color: rgba(109, 165, 154, 1);
    transition: all .2s linear;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 21px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat;
    color: rgba(46, 54, 62, 1);
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(46, 54, 62, 1);
    transition: color .2s linear;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*empty-style*/

html {
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
}


/*-----header-----*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 165px;
    align-items: center;
}

@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__menu {
    float: left;
    margin: 0 0 0 40px;
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 345px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 174px;
    }
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 24px;
    }
}

.menu {
    padding: 5px 0;
}

.menu__list__loggedin {
    display: flex;
    flex-wrap: wrap;
    width: 1030px;
    padding-top: 20.5px !important;
}

.menu__list__notlogged {
    display: flex;
    flex-wrap: wrap;
    width: 1030px;
    padding-top: 0px !important;
}

.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu__item {}

.auth-image__block {
    color: rgba(46, 54, 62, 1);
    line-height: 143%;
    float: right;
    width: 30px;
}

.auth-logout__text {
    color: rgba(46, 54, 62, 1);
}

.auth-logout__image {
    width: 25px;
    height: 25px;
    margin-top: -26px;
}

.auth-image__item:hover~.auth-hello__text {
    color: white;
    transition: all .2s linear;
}

.login__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    float: right;
}

.auth-login__text {
    font-size: 16px;
    color: rgba(46, 54, 62, 1);
    line-height: 143%;
    font-weight: 425;
    transition: color .2s linear;
    margin-right: 15px;
    margin-top: -24px;
}

.auth-loggedin__text {
    font-size: 16px;
    color: rgba(46, 54, 62, 1);
    line-height: 143%;
    font-weight: 425;
    transition: color .2s linear;
    margin-right: 15px;
    margin-top: -24px;
}

.auth-login__text:hover {
    color: rgba(109, 165, 154, 1);
}

.auth-register__text {
    color: rgba(46, 54, 62, 1);
    font-size: 16px;
    font-weight: 425;
    transition: color .2s linear;
    margin-top: -21px;
}

.auth-register__text:hover {
    color: rgba(109, 165, 154, 1);
}

.menu__link {
    color: rgba(46, 54, 62, 1);
    line-height: 143%;
    font-weight: 600;
    transition: color .2s linear;
}

.menu__link:hover {
    color: rgba(109, 165, 154, 1);
}


/*-----main-----*/

.page {
    flex: 1 1 auto;
}


/*-----main-block-----*/

.main-block {
    position: relative;
}

.main-block__body {
    padding: 250px 0 0 0;
    width: 1920px;
    height: 930px;
    position: relative;
    z-index: 2;
}

.main-block__square {
    position: static;
    width: 149px;
    height: 37px;
    left: 0px;
    top: 0px;
    background-color: rgba(240, 243, 246, 1);
}

.main-block__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -1px;
    width: 580px;
    margin: 24px 0;
}

.main-block__text {
    font-size: 21px;
    line-height: 143%;
    letter-spacing: -0.2px;
    width: 580px;
    margin: 24px 0px;
}

.main-block__buttons {
    position: absolute;
    bottom: 215px;
    display: inline-flex;
}

.main-block__button {
    background: rgba(133, 228, 208, 1);
    border-radius: 18px;
    width: 278px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    transition: background-color .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    text-align: center;
}

.main-block__button:hover {
    background-color: rgba(130, 206, 193, 1);
}

.main-block__image {
    display: flex;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 672px;
    top: 233px;
}


/*-----news-block-----*/

.page__news {
    height: 930px;
    background: rgba(240, 250, 237, 1);
}

.item-news {
    width: 574px;
    height: 640px;
}

.news__title {
    padding: 85px 0 0 0;
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    color: rgba(46, 54, 62, 1);
}

.news__viewall {
    float: right;
    font-weight: normal;
    font-size: 18px;
}

.item-news__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #21243D;
}

.item-news__date {
    padding: 42px 0;
    font-size: 18px;
    line-height: 22px;
    color: #21243D;
}

.item-news__text {
    font-size: 18px;
    line-height: 22px;
    color: #21243D;
}

@media (min-width: 670px) {
    .news__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }
}

.news__column {
    flex: 0 1 33.333%;
}

@media (min-width: 670px) {
    .news__column {
        padding: 0px 15px;
    }
}

@media (max-width: 992px) {
    .news__column {
        flex: 0 1 50%;
    }
    .news__column:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
    .news__column:last-child {
        flex: 1 1 100%;
    }
}

.news__item {
    border-radius: 15px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 32px;
}

@media (max-width: 479px) {
    .news__item {
        padding: 25px;
    }
}

.item-news>*:not(:last-child) {
    margin: 0px 0px 10px 0px;
}


/*-----history-----*/

.page__history {
    padding: 85px 0 0 0;
    height: 1275px;
    background: rgba(240, 250, 237, 1);
}

.history__title {
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    color: rgba(46, 54, 62, 1);
}

.history__main-block__image {
    display: flex;
    position: absolute;
    left: 672px;
    top: 280px;
    width: 512px;
    height: 432px;
}

.history__1block-image {
    display: flex;
    width: 389px;
    height: 343px;
    left: 434px;
    top: 149px;
    margin: 38px 0 0 63px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.history__1block-text {
    margin: 82px 0 0 0;
    display: flex;
    width: 666px;
    height: 188px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    align-items: center;
    color: rgba(46, 54, 62, 1);
    float: right;
    text-align: justify;
}

.history__2block-image {
    display: flex;
    width: 389px;
    height: 343px;
    left: 434px;
    top: 149px;
    margin: -46px 62px 0 63px;
    float: right;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.history__2block-text {
    margin: 52px 0 0 0;
    display: flex;
    width: 666px;
    height: 194px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    display: flex;
    align-items: center;
    color: rgba(46, 54, 62, 1);
    float: left;
    text-align: justify;
}

.history__3block-image {
    display: flex;
    margin: 298px 0 0 63px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.history__3block-text {
    margin: -255px 0 0 0;
    display: flex;
    width: 666px;
    height: 163px;
    left: 884px;
    top: 881px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    align-items: center;
    color: rgba(46, 54, 62, 1);
    float: right;
    text-align: justify;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*-----sctructure-----*/

.page__str {
    height: 1020px;
    width: 100%;
    background: rgba(240, 250, 237, 1);
    display: inline-block;
}

.str__title {
    padding: 85px 0 0 0;
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    color: rgba(46, 54, 62, 1);
}

.str__block {
    width: 300px;
    height: 86px;
    left: 370px;
    top: 169px;
    border-radius: 18px;
    background: white;
    display: inline-block;
    margin: 58px 0 0 0;
    transition: all .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.str__block:not(:nth-child(3n)) {
    margin: 0px 134px 0px 0px;
}

.str__body {
    margin-top: -58px;
}

.str__block-line {
    position: absolute;
    width: 11px;
    height: 67px;
    background: rgba(133, 228, 208, 1);
    border-radius: 14px;
    margin: 10px 11px;
    display: inline-block;
    transition: all .2s linear;
}

.str__block-text {
    text-align: left;
    padding: 12px 0 0 35px;
    font-weight: 600;
    font-size: 21px;
    line-height: 143%;
    display: inline-block;
}


/*
            .str__block-image {
                position: absolute;
                top: -48px;
                left: 250px;
                transition: all .2s linear;
                visibility: hidden;
            }
            */

.str__block-last {
    width: 300px;
    height: 86px;
    left: 370px;
    top: 169px;
    border-radius: 18px;
    background: white;
    display: inline-block;
    margin: 58px 130px 0 0;
    transition: all .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.str__block:hover {
    transform: scale(1.05);
}

.str__block:hover .str__block-image {
    transition: all .2s linear;
    visibility: visible;
}

.str__block-last:hover {
    transform: scale(1.05);
}


/*-----map-----*/

.page__map {
    height: 680px;
    background: white;
    margin-bottom: 85px;
}

.map__title {
    padding: 85px 0 0 0;
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    color: rgba(46, 54, 62, 1);
}


/*-----scehdule-----*/

.page__schedule {
    height: 790px;
    background: rgba(240, 250, 237, 1);
}

.schedule__title {
    padding: 85px 0 0 0;
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    color: rgba(46, 54, 62, 1);
}

.schedule__days-block {
    width: 500px;
    height: 87.85px;
    background: white;
    margin: 0 0 0 105px;
    display: inline-block;
    border-radius: 18px;
    transition: all .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.schedule__days-line {
    width: 17px;
    height: 68px;
    background: #85E4D0;
    border-radius: 14px;
    margin: 9px 23px;
}

.schedule__days-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    display: inline-block;
    width: 470px;
    height: 88px;
    margin: 0 0 0 32px;
    padding: 13px 0 0 0;
}

.schedule__days-text {
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    width: 470px;
    height: 88px;
    display: inline-block;
    padding: 0 0 13px 0;
}

.schedule__hours-block {
    background: #FFFFFF;
    border-radius: 18px;
    width: 500px;
    height: 135px;
    display: inline-block;
    margin: 15px 0 0 105px;
    transition: all .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.schedule__hours-line {
    width: 17px;
    height: 115px;
    background: #85E4D0;
    border-radius: 14px;
    margin: 9px 23px;
}

.schedule__hours-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    display: inline-block;
    width: 470px;
    height: 88px;
    margin: 0 0 0 32px;
    padding: 22px 0 0 0;
}

.schedule__hours-text {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    width: 470px;
    height: 88px;
    display: inline-block;
    padding: 0 0 13px 0;
}

.schedule__weekend-block {
    width: 500px;
    height: 88px;
    background: white;
    display: inline-block;
    margin: 15px 0 0 105px;
    border-radius: 18px;
    transition: all .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.schedule__weekend-line {
    width: 17px;
    height: 68px;
    background: #85E4D0;
    border-radius: 14px;
    margin: 9px 23px;
}

.schedule__weekend-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    display: inline-block;
    width: 470px;
    height: 88px;
    margin: 0 0 0 32px;
    padding: 14px 0 0 0;
}

.schedule__weekend-text {
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    width: 470px;
    height: 88px;
    display: inline-block;
    padding: 0 0 13px 0;
}

.schedule__price-block {
    width: 500px;
    height: 232px;
    background: white;
    display: inline-block;
    margin: 15px 0 0 105px;
    border-radius: 18px;
    transition: all .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.schedule__price-line {
    width: 17px;
    height: 213px;
    background: #85E4D0;
    border-radius: 14px;
    margin: 9px 23px;
}

.schedule__price-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    display: inline-block;
    width: 470px;
    height: 88px;
    margin: 0 0 0 32px;
    padding: 14px 0 0 0;
}

.schedule__price-text {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    width: 470px;
    height: 88px;
    display: inline-block;
    padding: 0 0 13px 0;
}

.calendar:hover {
    transform: scale(1.05);
}

.schedule__days-block:hover {
    transform: scale(1.05);
}

.schedule__hours-block:hover {
    transform: scale(1.05);
}

.schedule__weekend-block:hover {
    transform: scale(1.05);
}

.schedule__price-block:hover {
    transform: scale(1.05);
}


/*-----contacts-----*/

.page__contacts {
    height: 845px;
    margin-bottom: 85px;
}

.contacts__title {
    padding: 85px 0 0 0;
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    color: rgba(46, 54, 62, 1);
}

.contacts__title-con {
    font-weight: 600;
    font-size: 18px;
    line-height: 152%;
    width: 240px;
    margin-top: 7px;
    position: absolute;
}

.contacts__title-con:first-child {
    margin-top: 143px;
}

.contacts__text-con {
    font-weight: 400;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
    width: 240px;
    display: inline-block;
}

.contacts__link {
    color: rgba(70, 132, 121, 1);
}

.contacts__block {
    width: 800px;
    height: 582px;
    border-radius: 18px;
    background: rgba(240, 250, 237, 1);
    float: right;
    margin-top: -450px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.contacts__block-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 60%;
    margin-left: 85px;
}

.contacts__block-text:nth-child(2n+1) {
    color: #468479;
}

.contacts__block-text:first-child {
    margin-top: 100px;
}

.contacts__block-text:last-child {
    margin-bottom: 290px;
}

.contacts__block-form {
    float: right;
    margin: -158px 69px 26px 366px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
}

input,
textarea {
    width: 300px;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    background: none;
    margin-bottom: 50px;
}

.message-area {
    height: 250px;
    resize: none;
}

.form-button {
    float: left;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: rgba(133, 228, 208, 1);
    width: 110px;
    height: 40px;
    border-radius: 12px;
}

.form-button:hover {
    background: #468479ad;
}


/*-----scroll-to-top-----*/

.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 50;
    height: 39px;
    width: 37px;
    display: block;
}


/*-----404-----*/

.page404 {
    overflow: hidden;
}

.image404 {
    margin: 263px 890px 15px 882px;
    width: 140px;
    height: 160px;
}

.text404 {
    font-weight: 600;
    font-size: 21px;
    line-height: 143%;
    text-align: center;
    color: rgba(46, 54, 62, 1);
}

.link404 {
    color: rgba(179, 109, 31, 1);
    transition: all .2s linear;
}

.link404:hover {
    color: rgba(145, 89, 25, 1);
}


/*-----new contacts form-----*/

.contacts__newbody {
    overflow: hidden;
}

.contact__new_form {
    list-style: none;
    margin: -158px 69px 26px 440px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
}

.contacts__new_block {
    width: 800px;
    height: 580px;
    background: rgba(240, 250, 237, 1);
    border-radius: 18px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-27%, -50%);
}

.contacts__newblock-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 60%;
    margin-left: 85px;
}

.contacts__newblock-text:nth-child(2n+1) {
    color: #468479;
}

.contacts__newblock-text:first-child {
    padding-top: 100px;
}

.contacts__newblock-text:last-child {
    margin-bottom: 290px;
}

#id_user_message {
    resize: none;
    height: 120px;
}

.contacts__newtitle-con {
    font-weight: 600;
    font-size: 18px;
    line-height: 152%;
    width: 240px;
    margin-top: 7px;
    margin-left: 19%;
}

.contacts__newtitle-con:first-child {
    margin-top: 320px;
}

.contacts__newtext-con {
    font-weight: 400;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
    width: 240px;
    display: inline-block;
}

.contacts__link {
    color: rgba(70, 132, 121, 1);
}


/*-----thanks page-----*/

.thanks-page {
    overflow: hidden;
}

.thanks-image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 0;
}

.thanks-image {
    height: 500px;
    width: 500px;
}

.thanks-text {
    font-weight: 900;
    font-size: 36px;
    line-height: 143%;
    text-align: center;
    color: rgba(46, 54, 62, 1);
}

.thanks-button-block {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks-page__button {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: rgba(133, 228, 208, 1);
    width: 200px;
    height: 40px;
    border-radius: 12px;
}

.thanks-page__button:hover {
    background: #468479ad;
}

.thanks-page__button-block {
    text-align: center;
    margin-top: 15px;
}


/*-----login-----*/

.login__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    border-radius: 18px;
    background: rgba(240, 250, 237, 1);
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    display: flex;
}

.login__block-auth {
    margin: 135px 75px;
}

.login__block-text {
    text-align: left;
    margin: 40px 0 0 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 60%;
    color: #468479;
}

.login__block-image {
    margin: 135px 75px;
    width: 300px;
    height: 300px;
}

.login__block-form {
    text-align: left;
    margin: 40px 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
}

input,
textarea {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    background: none;
    margin-bottom: 33px;
}

.login__button-block {
    display: inline;
}

.login__button-reg {
    font-size: 14px;
    float: right;
    padding-top: 6.5px;
    color: rgba(46, 54, 62, 1);
    text-decoration: underline;
}

.login-button {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: rgba(133, 228, 208, 1);
    width: 110px;
    height: 40px;
    border-radius: 12px;
}

.login-button:hover {
    background: #468479ad;
}


/*-----registration-----*/

.page__register {
    width: 100%;
    height: 100%;
    background: rgba(240, 250, 237, 1);
}

.register__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 900px;
    height: 600px;
    border-radius: 18px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    display: flex;
}

.register__block-auth {
    margin: 135px 95px;
}

.register__block-text {
    text-align: left;
    margin: -8.5px 0 0 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 60%;
    color: #468479;
}

.register__block-image {
    position: absolute;
    margin: 135px 415px;
    width: 500px;
    height: 300px;
}

.register__block-form {
    text-align: left;
    margin: 35px 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
}

input,
textarea {
    text-align: left;
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    background: none;
    margin-bottom: 33px;
}

.register__button-block {
    display: inline;
    float: left;
}

.register__button-login {
    font-size: 14px;
    line-height: 1.2;
    float: right;
    padding: 4px 0 0 25px;
    text-align: right;
    color: rgba(46, 54, 62, 1);
    text-decoration: underline;
}

.register-button {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: rgba(133, 228, 208, 1);
    width: 200px;
    height: 40px;
    border-radius: 12px;
}

.register-button:hover {
    background: #468479ad;
}


/*-----news-block-----*/

.page__newspage {
    background: rgba(240, 250, 237, 1);
}

.item-newspage {
    width: 1180px;
    height: 640px;
}

.item-newspage__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #21243D;
}

.item-newspage__date {
    padding: 42px 0;
    font-size: 18px;
    line-height: 22px;
    color: #21243D;
}

.item-newspage__text {
    width: 570px;
    font-size: 18px;
    line-height: 22px;
    color: #21243D;
}

.item-newspage__image-block {
    display: flex;
    float: right;
}

.item-newspage__image {
    position: relative;
    width: 500px;
    height: 400px;
    margin-top: 45px;
}

@media (min-width: 670px) {
    .newspage__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }
}

.newspage__column {
    flex: 0 1 33.333%;
}

@media (min-width: 670px) {
    .newspage__column {
        padding: 0px 15px;
    }
}

@media (max-width: 992px) {
    .newspage__column {
        flex: 0 1 50%;
    }
    .newspage__column:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
    .newspage__column:last-child {
        flex: 1 1 100%;
    }
}

.newspage__item {
    margin-top: 85px;
    border-radius: 15px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 32px;
}

@media (max-width: 479px) {
    .newspage__item {
        padding: 25px;
    }
}

.item-newspage>*:not(:last-child) {
    margin: 0px 0px 10px 0px;
}


/*-----single news page-----*/

.page__singlenews {
    background: rgba(240, 250, 237, 1);
    height: 930px;
    width: 100%;
    overflow: hidden;
}

.singlenews__item {
    margin: 190px 0 85px 0;
    height: 640px;
    border-radius: 15px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 32px;
}

.singlenews__item:last-child {
    margin-bottom: 85px;
}


/*-----footer-----*/

.footer {
    padding-top: 85px;
    background: white;
    max-height: 300px;
    display: flex;
    padding-bottom: 120px;
    border-top: rgba(46, 54, 62, 0.1) solid 1px;
}

.footer__text {
    position: absolute;
    position: absolute;
    left: 6.09%;
    color: rgba(46, 54, 62, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: inline;
}

.footer__logo {
    display: inline;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-27%, -50%);
}

.footer__links {
    position: absolute;
    right: 5.5%;
    display: inline;
}

.footer__inst-img {
    margin-left: 606px;
    margin-right: 32px;
    height: 32px;
    width: 32px;
}

.footer__mail-img {
    margin-right: 32px;
    height: 32px;
    width: 32px;
}

.footer__phone-img {
    height: 32px;
    width: 32px;
}


/*-----user-profile-----*/

.page__user-profile {
    position: absolute;
    width: 100%;
    height: 929px;
    background: rgba(240, 250, 237, 1);
    overflow: hidden;
}

.user-profile__body {
    display: flex;
}

.profile__pic-block {
    margin-top: 170px;
    width: 384px;
    height: 384px;
    border-radius: 15px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding-top: 40px;
}

.profile__pic {
    text-align: center;
}

.profile__pic-img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

.profile__pic-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 152%;
    text-align: center;
    margin-top: 15px;
}

.settings-link {}

.profile__pic-button {
    background: rgba(133, 228, 208, 1);
    border-radius: 18px;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    transition: background-color .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin: 15px 102px;
}

.profile__pic-button:hover {
    background-color: rgba(130, 206, 193, 1);
}

.profile__info-block {
    margin-top: 170px;
    margin-left: 15px;
    width: 781px;
    height: 384px;
    border-radius: 15px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 32px;
}

.profile__info-string {
    display: flex;
    margin-bottom: 12px;
    border-bottom: rgba(46, 54, 62, 0.1) solid 1px;
}

.profile__info-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    position: absolute;
}

.profile__info-text {
    margin-left: 300px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(38, 50, 56, 0.7);
}

.profile-input {
    margin-bottom: -5px;
}

.profile__exc-button-block {
    margin-top: 54px;
}

.profile__exc-button {
    background: rgba(133, 228, 208, 1);
    border-radius: 18px;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    transition: background-color .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.profile__exc-button:hover {
    background-color: rgba(130, 206, 193, 1);
}

.profile__manager-buttons {
    display: flex;
}

.profile__manager-button {
    background: rgba(133, 228, 208, 1);
    border-radius: 18px;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    transition: background-color .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-right: 90px;
    margin-top: 42px;
}

.profile__manager-button:hover {
    background-color: rgba(130, 206, 193, 1);
}


/*-----excursion form-----*/

.excursion__block-body {
    height: 586px;
    width: 574px;
    border-radius: 15px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    float: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    padding: 30px;
    transition: .2s all linear;
    padding-top: 132px;
}

.excursion__block-body:hover {
    transform: scale(1.05);
}

#id_excursion_type {
    font-family: Montserrat;
    color: rgba(38, 50, 56, 1);
    font-size: 16px;
    border-bottom: 1px solid #999;
    width: 300px;
    height: 30px;
}

.excursion__button {
    background: rgba(133, 228, 208, 1);
    border-radius: 18px;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    transition: background-color .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin: 20px 108.5px;
}

.excursion__button-disabled {
    background: rgba(133, 228, 208, 0.5);
    border-radius: 18px;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    transition: background-color .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin: 20px 108.5px;
}

.please-register__text {
    width: 305px;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    margin-left: 108.5px;
}

#id_excursion_time {
    width: 514px;
    padding: 5px;
}

#id_excursion_date {
    width: 514px;
    padding: 5px;
}

#id_excursion_type {
    width: 514px;
}


/*-----create news-----*/

.page__create-news {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(240, 250, 237, 1);
}

.create-news__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 900px;
    height: 600px;
    border-radius: 18px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    display: flex;
}

.create-news__block-auth {
    margin: 85px 95px;
}

.create-news__block-text {
    text-align: left;
    margin: -8.5px 0 0 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #468479;
    width: 350px;
}

.create-news__block-image {
    position: absolute;
    margin: 135px 415px;
    width: 500px;
    height: 300px;
}

.create-news__block-form {
    width: 300px;
    text-align: left;
    margin: 35px 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
}

#id_title,
#id_hashtag,
#id_context,
#id_preview {
    text-align: left;
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    background: none;
    margin-bottom: 33px;
}

#id_context {
    height: 90px;
    resize: none;
}

.create-news__button-block {
    display: inline;
    float: left;
}

.create-news__button-login {
    font-size: 14px;
    line-height: 1.2;
    float: right;
    padding: 4px 0 0 25px;
    text-align: right;
    color: rgba(46, 54, 62, 1);
    text-decoration: underline;
}

.create-news-button {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: rgba(133, 228, 208, 1);
    width: 200px;
    height: 40px;
    border-radius: 12px;
}

.create-news-button:hover {
    background: #468479ad;
}


/*----single-contact-----*/

.page__all-contacts {
    position: absolute;
    width: 100%;
    height: 929px;
    background: rgba(240, 250, 237, 1);
    overflow: hidden;
}

.all-contacts__body {
    display: flex;
}

.all-contacts__block {
    margin-top: 170px;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
}

.all-contacts__title {
    padding-left: 30px;
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    color: rgba(46, 54, 62, 1);
}

.all-contacts__single {
    font-size: 18px;
    line-height: normal;
    margin-left: 53px;
}

.single-contacts__topic {
    margin-left: 30px;
    width: 1120px;
}

.all-contacts__single:last-child {
    margin-bottom: 30px;
}

.single-contacts__topic:last-child {
    margin-bottom: 30px;
}


/*-----all excursions-----*/

.page__all-exc {
    position: absolute;
    width: 100%;
    height: 929px;
    background: rgba(240, 250, 237, 1);
    overflow: hidden;
}

.all-exc__body {
    display: flex;
}

.all-exc__block {
    margin-top: 170px;
    width: 100%;
    height: fit-content;
    min-height: 384px;
    border-radius: 15px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
}

.all-exc__block:last-child {
    margin-left: 30px;
}

.all-exc__title {
    padding-left: 30px;
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    color: rgba(46, 54, 62, 1);
}

.all-exc__single {
    font-weight: 600;
    font-size: 16px;
    margin-left: 53px;
}

.single-exc__topic {
    margin-left: 30px;
    width: 1120px;
}

.all-exc__single:last-child {
    margin-bottom: 30px;
}

.single-exc__topic:last-child {
    margin-bottom: 30px;
}

.new-exc__button {
    background: rgba(133, 228, 208, 1);
    border-radius: 18px;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 152%;
    color: rgba(38, 50, 56, 1);
    transition: background-color .2s linear;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin: 100px 136.5px;
}

.new-exc__button:hover {
    background-color: rgba(130, 206, 193, 1);
}


/*-----delete excursion-----*/

.page__exc-delete {
    width: 100%;
    height: 100%;
    background: rgba(240, 250, 237, 1);
}

.exc-delete__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 900px;
    height: 600px;
    border-radius: 18px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    display: flex;
}

.exc-delete__block-auth {
    margin: 135px 95px;
}

.exc-delete__block-text {
    text-align: center;
    margin: -68.5px 0 0 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #468479;
}

.exc-delete__block-form {
    text-align: center;
    margin: 100px 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
}

.exc-delete__button-block {
    display: inline;
    float: left;
}

.exc-delete__button-login {
    font-size: 14px;
    line-height: 1.2;
    float: right;
    padding: 4px 0 0 25px;
    text-align: right;
    color: rgba(46, 54, 62, 1);
    text-decoration: underline;
}

.exc-delete-button {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: rgba(133, 228, 208, 1);
    width: 200px;
    height: 40px;
    border-radius: 12px;
    display: block;
    margin-bottom: 15px;
    margin-left: 250px;
}

.exc-delete-button:first-child {
    background-color: white;
    border: rgba(133, 228, 208, 1) solid 2px;
    margin-top: 15px;
}

.exc-delete-button:hover {
    background: #468479ad;
}

.exc__not-passed-yet {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-top: 120px;
}


/*-----edit news-----*/

.edit-news-button {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: rgba(133, 228, 208, 1);
    width: 135px;
    height: 40px;
    border-radius: 12px;
    float: right;
}

.edit-news-backbutton {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: white;
    border: rgba(133, 228, 208, 1) solid 2px;
    width: 135px;
    height: 40px;
    border-radius: 12px;
    float: left;
}


/*-----delete news-----*/

.delete-news-button {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: rgba(133, 228, 208, 1);
    width: 135px;
    height: 40px;
    border-radius: 12px;
    float: right;
    margin-right: 287px;
    margin-top: 254px;
}

.delete-news-backbutton {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: all .35s linear;
    background: white;
    border: rgba(133, 228, 208, 1) solid 2px;
    width: 135px;
    height: 40px;
    border-radius: 12px;
    float: left;
    margin-top: 254px;
}