{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Профіль користувача</title>
</head>

<body>
    {% block content %}
    <div class="wrapper">
        <main class="page">
            <section class="page__all-exc all-exc">
                <div class="all-exc__container _container">
                    <div class="all-exc__body ">
                        <div class="all-exc__block">
                            <div class="all-exc__title">
                                Майбутні екскурсії:
                            </div>
                            {% if not upcoming %}
                            <a href="{% url 'main' %}#schedule">
                                <button class="new-exc__button">Записатися на екскурсію</button>
                            </a> {% endif %}
                            <div class="all-exc__topic">
                                <ol>
                                    {% for u in upcoming %}
                                    <li class="all-exc__single">{{ u.date }}, {{ u.time }}, {{ u.person.name }} — {{ u.type }}
                                        <a href="{% url 'delete_excursion_page' u.id %}">
                                            <img src="{% static 'img/delete.svg' %}" alt="delete" style="height: 16px; width: 16px; float: right; margin-right: 30px; margin-top: -2px;">
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>

                        </div>

                        <div class="all-exc__block">
                            <div class="all-exc__title">
                                Завершені екскурсії:
                            </div>
                            {% if not passed %}
                            <div class="exc__not-passed-yet">
                                Ви ще не відвідали жодної екскурсії
                            </div>
                            {% endif %}
                            <div class="all-exc__topic">
                                <ol>
                                    {% for p in passed %}
                                    <li class="all-exc__single">{{ p.date }}, {{ p.time }}, {{ p.name }} — {{ p.type }}</li>
                                    {% endfor %}
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    {% endblock content %}
</body>

</html>