{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <title>Помилка 404</title>
    <!--<meta http-equiv="refresh" content="7; url = /" /> -->
</head>

<body>
    <div class="wrapper">
        <main class="page ">
            <section class="page__thanks-page thanks-page ">
                <div class="thanks-page__container _container ">
                    <div class="thanks-page__body">
                        <div class="thanks-image-block">
                            <img src="{% static 'img/404rafik.svg' %}" alt="" class="thanks-image">
                        </div>
                        <div class="thanks-text">
                            Сторінку не знайдено!
                        </div>
                        <div class="thanks-page__button-block">
                            <a href="{% url 'main' %}">
                                <button class="thanks-page__button">
                                На головну
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>