{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <title>
        {% block title %} Ботанічний сад ХДУ {% endblock title %}
    </title>
</head>

<body>
    <div class="wrapper">
        <header class="header" id="main">
            {% block header %}
            <div class="header__container _container">
                <a href="/" class="header__logo">
                    <img src="{% static 'img/logo.svg' %}" alt="logo">
                </a>
                <nav class="header__menu menu">
                    {% block nav %}
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="{% url 'main' %}" class="menu__link">Новини</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'history' %}" class="menu__link">Історія</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'structure' %}" class="menu__link">Структура</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'contact' %}" class="menu__link">Контакти</a>
                        </li>
                    </ul>

                    <ul class="login__list">
                        <li>
                            <div class="auth-login__block">
                                <a href="{% url 'login' %}" class="auth-login__text">Увійти</a>
                            </div>
                        </li>

                        <li>
                            <div class="auth-register__block">
                                <a href="{% url 'registration' %}" class="auth-register__text">Реєстрація</a>
                            </div>
                        </li>
                        <!--<li>
                            <div class="auth-image__block">
                                <a href="#" class="auth-image__link">
                                    <img src="{% static 'img/dead-bush.svg' %}" alt="dead-b" class="auth-image__item">
                                </a>
                            </div>
                            <div class="auth-hello__text">some text</div>
                            <div class="auth-logout__block"><a href="/auth/login" class="auth-logout__text">Logout</a></div>
                        </li>-->
                    </ul>

                    {% endblock nav %}
                </nav>

            </div>
            {% endblock header %}
        </header>
        {% block content %} {% endblock content %}
        <div class="to-top">
            <a href="#" title="back to Top"><img src="{% static 'img/round-arrow.svg' %}" alt=""></a>
        </div>

    </div>
</body>

</html>