{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %} Ботанічний сад ХДУ {% endblock title %}
    </title>
</head>

<body>
    <div class="wrapper">
        <header class="header" id="main">
            {% block header %}
            <div class="header__container _container">
                <a href="#main" class="header__logo">
                    <img src="{% static 'img/logo.svg' %}" alt="logo">
                </a>
                <nav class="header__menu menu">
                    {% block nav %}
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#news" class="menu__link">Новини</a>
                        </li>
                        <li class="menu__item">
                            <a href="#history" class="menu__link">Історія</a>
                        </li>
                        <li class="menu__item">
                            <a href="#structure" class="menu__link">Структура</a>
                        </li>
                        <li class="menu__item">
                            <a href="#contacts" class="menu__link">Контакти</a>
                        </li>
                    </ul>
                    {% endblock nav %}
                </nav>
            </div>
            {% endblock header %}
        </header>
        {% block content %} {% endblock content %}
        <section class="page__contacts contacts ">
            <div class="contacts__container _container ">
                <h1 class="contacts__title " id="contacts ">
                    Контакти
                </h1>
                <div class="contacts__body ">
                    <div class="contacts__title-con ">
                        Наш телефон:
                        <div class="contacts__text-con ">
                            <a href="tel:+38(0552)33-70-87 " class="contacts__link ">+38(0552)33-70-87</a>
                        </div>
                    </div>
                    <div class="contacts__title-con ">
                        <br>Наша адреса:
                        <div class="contacts__text-con ">
                            <a href="https://goo.gl/maps/GAMzcUENS8uiSn7u5 " target="_blank " class="contacts__link ">Миколаївське шосе, 29</a>
                        </div>
                    </div>
                    <div class="contacts__title-con ">
                        <br>E-Mail:
                        <div class="contacts__text-con ">
                            <a href="mailto:gardenksu@gmail.com " class="contacts__link ">gardenksu@gmail.com</a>
                        </div>
                    </div>
                    <div class="contacts__title-con ">
                        <br>Instagram:
                        <div class="contacts__text-con ">
                            <a href="https://www.instagram.com/botanical_garden_ks/ " target="_blank " class="contacts__link ">@botanical_garden_ks</a>
                        </div>
                    </div>

                    <div class="contacts__block ">
                        <div class="contacts__block-text ">
                            Поставте
                        </div>
                        <div class="contacts__block-text ">
                            <br>питання
                        </div>
                        <div class="contacts__block-text ">
                            <br>саме
                        </div>
                        <div class="contacts__block-text ">
                            <br>зараз:
                        </div>

                        <div class="contacts__block-form ">
                            <form action="# " method="post ">
                                <ul>
                                    <li>
                                        <input placeholder="Ім 'я:" type="text" id="name" name="user_name">
                                    </li>
                                    <li>
                                        <input placeholder="Номер телефону:" type="number" id="tel" name="phone_number">
                                    </li>
                                    <li>
                                        <input placeholder="E-Mail:" type="email" id="mail" name="user_mail">
                                    </li>
                                    <li>
                                        <textarea placeholder="Повідомлення:" id="msg" name="user_message" class="message-area"></textarea>
                                    </li>
                                    <li class="button">
                                        <button type="submit" class="form-button">Надіслати</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <div class="to-top">
            <a href="#" title="back to Top"><img src="{% static 'img/round-arrow.svg' %}" alt=""></a>
        </div>
    </div>
</body>

</html>