{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <title>
        {% block title %} Ботанічний сад ХДУ {% endblock title %}
    </title>
</head>

<body>
    <div class="wrapper">
        <header class="header" id="main">
            {% block header %}
            <div class="header__container _container">
                <a href="/" class="header__logo">
                    <img src="{% static 'img/logo.svg' %}" alt="logo">
                </a>
                <nav class="header__menu menu">
                    {% block nav %}
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="/news" class="menu__link">Новини</a>
                        </li>
                        <li class="menu__item">
                            <a href="/history" class="menu__link">Історія</a>
                        </li>
                        <li class="menu__item">
                            <a href="/structure" class="menu__link">Структура</a>
                        </li>
                        <li class="menu__item">
                            <a href="/contact" class="menu__link">Контакти</a>
                        </li>
                    </ul>
                    {% endblock nav %}
                </nav>
            </div>
            {% endblock header %}
        </header>
        {% block content %} {% endblock content %}
        <div class="to-top">
            <a href="#" title="back to Top"><img src="{% static 'img/round-arrow.svg' %}" alt=""></a>
        </div>
    </div>
</body>

</html>