{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="uk">
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Історя заснування саду</title>
</head>

<body>
    <div class="wrapper">
        <main class="page ">
            <section class="page__main-block main-block ">
                {% block main-block %}
                <div class="main-block__container _container ">
                    <div class="main-block__body ">
                        <div class="main-block__square ">

                        </div>
                        <h1 class="main-block__title ">
                            Історія нашого саду має свій початок ще у 40-ві роки XX толіття
                        </h1>
                        <div class="main-block__text ">
                            Ознайомтеся з цікавою історією заснування Ботанічного саду ХДУ.
                        </div>
                        <div class="main-block__buttons ">
                            <a href="/ " class="main-block__button ">Повернутися на головну</a>
                        </div>
                        <div class="main-block__image ">
                            <img src="{% static 'img/bro.svg' %}" alt="mainpage_image1 ">
                        </div>
                    </div>
                </div>
                {% endblock main-block %}
            </section>
            <section class="page__history history ">
                <div class="history__container _container ">
                    <h1 class="history__title " id="history ">
                        Історія заснування
                    </h1>
                    <div class="history__body ">
                        <div class="history__1block-text ">
                            <p>Рішення про заснування ботанічного саду Херсонського державного педагогічного інституту ім. Н. К. Крупської було прийняте Херсонським міськвиконкомом у 1934 році. Необхіднісь створення ботанічного саду була обґрунтована співробітниками
                                кафедри ботаніки, зусиллями яких був розроблений перший проект плану агробіостанції з ботанічним садом як навчальної бази природничо-географічного факультету.
                            </p>
                        </div>
                        <div class="history__1block-image ">
                            <img src="{% static 'img/bell.jpg' %}" alt="bell ">
                        </div>

                        <div class="history__2block-image ">
                            <img src="{% static 'img/hat.jpg' %}" alt="hat ">
                        </div>
                        <div class="history__2block-text ">
                            Практичні роботи розпочалися навесні 1935 року. Керувати ними було доручено старшому викладачеві кафедри ботаніки М. С. Кривошею. У 1937 році були проведені посадки захисної смуги навколо майбутнього саду та висаджені дерева на центральній алеї. У кінці
                            центральної алеї розпочалося створення ботанічного кола, у його центрі планувалося побудувати басейн для вирощування водних рослин, зокрема рослин Нижньодніпровських плавнів.
                        </div>
                        <img src="{% static 'img/tree.jpg' %}" alt="tree " class="history__3block-image ">
                        <div class="history__3block-text ">
                            <p>Зліва від центральної алеї було закладено колекційний плодовий сад з місцевих сортів плодових дерев та кущів. Справа від центральної алеї зроблені посадки хвойних — сосни та біоти, а далі — т. з. «Мічурінський сад», який за
                                свідченням професора Ківера Ф. В. та викладача Кривчені Є. І. був гордістю ботанічного саду. У ньому росли 10 сортів яблунь та інших плодових дерев, які були виведені І. В. Мічуріним.
                            </p>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <div class="to-top ">
            <a href="history.html#main" title="Back to Top "><img src="{% static 'img/round-arrow.svg' %}" alt=" "></a>
        </div>
    </div>
</body>

</html>
{% endblock content %}