{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="uk">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} Ботанічний сад ХДУ {% endblock title %}</title>
</head>

<body>
    {% block content %}
    <div class="wrapper">
        <main class="page ">
            <section class="page__main-block main-block ">
                {% block main-block %}
                <div class="main-block__container _container ">
                    <div class="main-block__body ">
                        <div class="main-block__square ">

                        </div>
                        <h1 class="main-block__title ">
                            Вітаємо у ботанічному саду ХДУ!
                        </h1>
                        <div class="main-block__text ">
                            Відчуй єднання людини з природою завітавши до ботанічного саду Херсонського державного університета.
                        </div>
                        <div class="main-block__buttons ">
                            <a href="#schedule " class="main-block__button ">Записатися на екскурсію</a>
                        </div>
                        <div class="main-block__image ">
                            <img src="{% static 'img/bboy.svg' %}" alt="mainpage_image1 ">
                        </div>
                    </div>
                </div>
                {% endblock main-block %}
            </section>

            <section class="page__news news ">
                <div class="news__container _container ">
                    <h1 class="news__title " id="news ">
                        Нещодавні новини
                        <a href="{% url 'news_all' %}" class="news__viewall ">Дивитися далі</a>
                    </h1>
                    <div class="news__body ">
                        <div class="news__column ">
                            <div class="news__item item-news ">
                                <h3 class="item-news__title ">{{ first_news.title }}</h3>
                                <div class="item-news__date ">
                                    {{ first_news.publication_date }}
                                    <span style="margin: 0 20px;"> | </span> {{ first_news.hashtag }}
                                </div>
                                <div class="item-news__text ">{{ first_news.context }}</div>
                                <div class="item-news__image "><img src="{{ first_news.preview.url }}" alt="flower " width="509px " height="357px "></div>
                            </div>
                        </div>
                        <div class="news__column ">
                            <div class="news__item item-news ">
                                <h3 class="item-news__title ">{{ second_news.title }}</h3>
                                <div class="item-news__date ">
                                    {{ second_news.publication_date }}
                                    <span style="margin: 0 20px;"> | </span> {{ second_news.hashtag }}
                                </div>
                                <div class="item-news__text ">{{ second_news.context }}</div>
                                <div class="item-news__image "><img src="{{second_news.preview.url }}" alt="news-flower " width="509px " height="357px "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page__map map ">
                <div class="map__container _container ">
                    <h1 class="map__title " id="map ">
                        Місцезнаходження саду
                    </h1>
                    <div class="map__body ">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5077.2452867020575!2d32.58974002317306!3d46.6581468931982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c41a839f49d107%3A0xbe04a726ee205c46!2sKhersons%CA%B9kyy%20Botanichnyy%20Sad%2C%20Mykolaivske%20Hwy%2C%2029%2C%20Kherson%2C%20Khersons&#39;ka%20oblast%2C%2073000!5e0!3m2!1sen!2sua!4v1647007703135!5m2!1sen!2sua "
                            width="1180 " height="510 " style="border:0; " allowfullscreen=" " loading="lazy " class="map "></iframe>
                    </div>
                </div>
            </section>

            <section class="page__schedule schedule " id="schedule">
                <div class="schedule__container _container ">
                    <h1 class="schedule__title " id="schedule ">
                        Розклад роботи та вартість платних послуг
                    </h1>
                    <div class="schedule__body ">
                        <div class="excursion__block-body">
                            <form action="{% url 'main' %}" method="POST">
                                {% csrf_token %}
                                <ul>
                                    {% if request.user.is_authenticated %}
                                    <li>
                                        Оберіть дату екскурсії:<br>
                                        <input type="date" name="date" class="form-control" required id="id_date">
                                    </li>
                                    {% if form.date.errors %}
                                    <li>
                                        <p>{{ form.date.errors.as_text }}</p>
                                    </li>
                                    {% endif %}
                                    <li>
                                        Оберіть час екскурсії:<br>
                                        <input type="time" name="time" class="form-control" required id="id_time">
                                    </li>
                                    {% if form.time.errors %}
                                    <li>
                                        <p>{{ form.time.errors.as_text }}</p>
                                    </li>
                                    {% endif %}

                                    <li>
                                        Оберіть тип екскурсії:<br>
                                        <select name="type" required="" id="id_type">
                                            <option value="Індивідуальні відвідування" selected>Індивідуальні відвідування</option>
                                            <option value="Екскурсія для дорослих">Екскурсія для дорослих</option>
                                            <option value="Екскурсія для дітей">Екскурсія для дітей</option>
                                            <option value="Проведення заходів">Проведення заходів</option>
                                            <option value="Фото-відеозйомки">Фото-відеозйомки</option>                                  
                                        </select>
                                    </li>
                                    <button type="Submit" class="excursion__button">Записатися на екскурсію</button>
                                    <div class="please-register__text">
                                        Записатися на екскурсію можна мінімум за годину до кінця робочого дня
                                    </div>

                                    {% else %}
                                    <li>
                                        Оберіть дату екскурсії:<br>
                                        <input type="date" name="date" class="form-control" required id="id_date" disabled>
                                    </li>
                                    {% if form.date.errors %}
                                    <li>
                                        <p>{{ form.date.errors.as_text }}</p>
                                    </li>
                                    {% endif %}
                                    <li>
                                        Оберіть час екскурсії:<br>
                                        <input type="time" name="time" class="form-control" required id="id_time" disabled>
                                    </li>
                                    {% if form.time.errors %}
                                    <li>
                                        <p>{{ form.time.errors.as_text }}</p>
                                    </li>
                                    {% endif %}

                                    <li>
                                        Оберіть тип екскурсії:<br>
                                        <select name="type" required="" id="id_type" disabled>
                                            <option value="Індивідуальні відвідування" selected>Індивідуальні відвідування</option>
                                            <option value="Екскурсія для дорослих">Екскурсія для дорослих</option>
                                            <option value="Екскурсія для дітей">Екскурсія для дітей</option>
                                            <option value="Проведення заходів">Проведення заходів</option>
                                            <option value="Фото-відеозйомки">Фото-відеозйомки</option>                                  
                                        </select>
                                    </li>
                                    <button type="Submit" disabled class="excursion__button-disabled">Записатися на екскурсію</button>
                                    <div class="please-register__text">
                                        Для запису на екскурсію необхідно бути авторизованим на сайті
                                    </div>
                                    {% endif %}
                                </ul>
                            </form>
                        </div>
                        <div class="schedule__days ">
                            <div class="schedule__days-block ">
                                <div class="schedule__days-line ">
                                    <div class="schedule__days-title ">
                                        Робочі дні:
                                        <div class="schedule__days-text ">
                                            понеділок – п’ятниця.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="schedule__hours ">
                            <div class="schedule__hours-block ">
                                <div class="schedule__hours-line ">
                                    <div class="schedule__hours-title ">
                                        Робочі години:
                                        <div class="schedule__hours-text ">
                                            понеділок – четвер: 8:30 – 17:15; <br>п’ятниця: 8:30 – 16:00.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="schedule__weekend ">
                            <div class="schedule__weekend-block ">
                                <div class="schedule__weekend-line ">
                                    <div class="schedule__weekend-title ">
                                        Вихідні дні:
                                        <div class="schedule__weekend-text ">
                                            субота – неділя.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="schedule__price ">
                            <div class="schedule__price-block ">
                                <div class="schedule__price-line ">
                                    <div class="schedule__price-title ">
                                        Вартість послуг:
                                        <div class="schedule__price-text ">
                                            <br>Індивідуальні відвідування – 20 грн; <br>Екскурсія для дорослих – 20 грн; <br>Екскурсія для дітей – 15 грн; <br>Проведення заходів – 300 грн/год; <br>Фото - відеозйомки – 100 грн/год.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
    {% endblock content %}
</body>

</html>