{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="uk">
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Історя заснування саду</title>
</head>

<body>
    <div class="wrapper">
        <main class="page ">
            <section class="page__main-block main-block ">
                <div class="main-block__container _container ">
                    <div class="main-block__body ">
                        <div class="main-block__square ">

                        </div>
                        <h1 class="main-block__title ">
                            Ботанічний сад складається з 17 різних ділянок
                        </h1>
                        <div class="main-block__text ">
                            Ознайомитися зі структорою ботанічного саду можна на сторінці нижче.
                        </div>
                        <div class="main-block__buttons ">
                            <a href="base.html#main " class="main-block__button ">Повернутися на головну</a>
                        </div>
                        <div class="main-block__image ">
                            <img src="{% static 'img/pana.svg' %}" alt="mainpage_image1 ">
                        </div>
                    </div>
                </div>
            </section>

            <section class="page__str structure ">
                <div class="str__container _container ">
                    <h1 class="str__title " id="structure ">
                        Структура саду
                    </h1>
                    <div class="str__body ">
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">типова пришкільна ділянка</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">сад безперервного цвітіння</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">плодовий <br>сад</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">метеорологічний майданчик</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">фізіологічна <br>ділянка</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">квітково-декоративні культури</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">дендрологічний сектор</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">відділ «Херсонські степи»</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">велике ботанічне <br>коло</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">дубовий <br>гай
                            </div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">новий <br>дендрарій</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">листяний <br>гай</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">хвойний <br>гай</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">мале ботанічне <br>коло</div>
                        </div>
                        <div class="str__block ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">північна та південна лісосмуги</div>
                        </div>
                        <div class="str__block-last ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">листяні та <br>хвойні алеї</div>
                        </div>
                        <div class="str__block-last ">
                            <div class="str__block-line "></div>
                            <div class="str__block-text ">теплиця та <br>розсадник</div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>
{% endblock content %}