{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <title>Ваше запитання</title>
</head>

<body>
    {% block content %}
    <div class="contacts__newbody ">
        <div class="contacts__newtitle-con ">
            Наш телефон:
            <div class="contacts__text-con ">
                <a href="tel:+38(0552)33-70-87 " class="contacts__link ">+38(0552)33-70-87</a>
            </div>
        </div>
        <div class="contacts__newtitle-con ">
            <br>Наша адреса:
            <div class="contacts__text-con ">
                <a href="https://goo.gl/maps/GAMzcUENS8uiSn7u5 " target="_blank " class="contacts__link ">Миколаївське шосе, 29</a>
            </div>
        </div>
        <div class="contacts__newtitle-con ">
            <br>E-Mail:
            <div class="contacts__text-con ">
                <a href="mailto:gardenksu@gmail.com " class="contacts__link ">gardenksu@gmail.com</a>
            </div>
        </div>
        <div class="contacts__newtitle-con ">
            <br>Instagram:
            <div class="contacts__newtext-con ">
                <a href="https://www.instagram.com/botanical_garden_ks/ " target="_blank " class="contacts__link ">@botanical_garden_ks</a>
            </div>
        </div>
        <div class="contacts__new_block ">

            <div class="contacts__newblock-text ">
                Поставте
            </div>
            <div class="contacts__newblock-text ">
                <br>питання
            </div>
            <div class="contacts__newblock-text ">
                <br>саме
            </div>
            <div class="contacts__newblock-text ">
                <br>зараз:
            </div>
            <div class="contact__new_form ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <ul>
                        <li>
                            <input placeholder="Ваше ім'я:" type="text" id="user_name" name="name" required>
                        </li>
                        <li>
                            <input placeholder="Номер телефону:" type="tel" id="phone_number" name="phone" required>
                        </li>
                        <li>
                            <input placeholder="E-Mail:" type="email" id="user_email" name="email" required>
                        </li>
                        <li>
                            <textarea placeholder="Ваше повідомлення:" id="user_message" name="user_message" class="message-area" required></textarea>
                        </li>
                        <li class="button">
                            <button type="submit" value="Submit" class="form-button">Надіслати</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        {% endblock content %}
</body>

</html>