{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Профіль користувача</title>
</head>

<body>
    {% block content %}
    <div class="wrapper">
        <main class="page">
            <section class="page__all-contacts all-contacts">
                <div class="all-contacts__container _container">
                    <div class="all-contacts__body ">
                        <div class="all-contacts__block">
                            <div class="all-contacts__title">
                                Останні повідомлення від користувачів:
                            </div>
                            <div class="all-contacts__topic">
                                <ol>
                                    {% for contact in contacts %}
                                    <li class="all-contacts__single">
                                        <a href="{% url 'contact_single' contact.pk %}">{{contact.topic}}</a>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    {% endblock content %}
</body>


</html>