{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <title>Дякуємо за звернення!</title>
    <meta http-equiv="refresh" content="7; url = /" />
</head>

<body>
    <div class="wrapper">
        <main class="page ">
            <section class="page__thanks-page thanks-page ">
                <div class="thanks-page__container _container ">
                    <div class="thanks-page__body">

                        <h1 class="thanks-title">
                            Дякуємо, що зв'язалися з нами!
                        </h1>
                        <div class="thanks-text">
                            Ми отримали Ваше повідомлення<br>та опрацюємо його якомога швидше.<br>Через 7 секунд Ви будете автоматично перенаправлені на головну сторінку.<br>Якщо цього не сталося - натисніть на дерево нище.
                        </div>
                        <div class="thanks-image-block">
                            <a href="/">
                                <img src="{% static 'img/oak.svg' %}" alt="" class="thanks-image">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>